.button{
  background-color: lighten($contBack, 20%);
  box-shadow: .3rem .3rem 1rem $shadowColor;
  color: white;
  border: none;
  font-size: 1.5rem;
  border-radius: .5rem;
  // margin: 1rem;
  padding: .7rem .5rem;
  font-weight: 500;

  &:hover{
    cursor: pointer;
  }
  &:focus{
    outline: 0;
  }
  &:active{
    box-shadow: none;
    // transform: translate(3%, 3%)
  }
}
