.VictoryContainer svg{
  position: relative;
  margin-top: -100px;
  height: 300px !important;
  padding-left: 60px;
  width: 100px;
  left: -30px;
  z-index: 0;
}
.VictoryContainer{
  z-index: -100;
}

#total{
  position: fixed;
  top: 90%;
  left: 7%;
  color: white;
}
