.VictoryContainer svg{
  position: fixed;
  top: 15%;
  height: 200px !important;
  width: 100px;
  right: -48.5rem;
  z-index: -1;
}

#total{
  position: fixed;
  top: 80%;
  right: 6%;
  color: white;
}
