.inputField{
  &__main {
    padding: 1.5rem;
    padding-bottom: 1.5rem;
    position: fixed;
    right: 0px;
    width: 75%;
    height: 90px;
    background-color: darken($contBack, 8);
    z-index: 2;
  }
  input{
    font-size: 1.3rem;
    border-radius: 3px;
    padding: 8px;
    background-color: lighten($contBack, 70%);
    margin-left: 10px;
    margin-top: 10px;
    &:focus{
        outline: none;
        border: 4px lighten($contBack, 20%) solid;
    }
  }
}

.inputField select{
  font-size: 20px;
  border-radius: 3px;
  color: $contBack;
  text-align: center;
  background-color: lighten($contBack, 70%)
}
#amountInput{
  width: 83px;
}

#dateInput{
  width: 15%;
}

.button--large{
  position: absolute;
  right: 10%;
  top: 1.5rem;
  width: 200px;
  padding: 30px;
  height: 40px;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0 3rem;
}